<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/event.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/event.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

  </head>
  <body>
    <header class="nav-bar"> <% include ./_partials/_header %> </header>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="jumbotron">

      <!-- image to click to autocopy -->
      <h1 class'eventName'><%-`${eventName[0]}`%></h3>
      <h3 class='eventDescript'><%-`${eventDescript[0]}`%></h3>

      <p id='eventId' class='ids'><%-eventId%></p>
      <p id='isLoggedIn' class='ids'><%-isLoggedIn%></p>
      <br />
      <br />
      <h4 class='adminName'><%-`event created by: ${adminName}`%></h3>
        <form  class='emailTheAdmin' method='POST' action=<%-`mailto:${adminEmail}`%>>
          <button type='submit'><%-`Email ${adminName}`%></button><h4>
        </form>




</div>
<br />
<br />
<br />
<br />
            <div class='warningMessage'>

            </div>
            <div>
              <table>
                <thead>

                <tr>
                  <th class='user-column'> Voter: </th>

                  <% for(let i = 0; i < columnCount; i++) { console.log(columnCount)%>
                        <th class='date'><%-`${dayName[i]} \n ${month[i]}, ${dayNum[i]}\n ${startTime[i]} - ${endTime[i]} \n${year[i]} `%></th>
                   <% }  %>

                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < users.length; i++){ %>

                  <tr>
                    <td class='user-column'> <%-`${users[i][0]}`%> </td>
                    <% for(let j = 0; j < allDateOptionIds.length; j++) { %>
                      <% if(users[i][3].includes(allDateOptionIds[j])){ %>
                              <td class='check'><i class="fas fa-check-circle fa-2x"></i></td>
                      <% } else{  %>
                              <td class='ex'><i class="far fa-times-circle fa-2x"></i></td>
                        <% }
                      } %>
                  </tr>

                <% } %>
                <tr class='new-user'>
                  <td class='name'>
                      <input class='usernameInput' type='username' placeholder='Your name'/>
                      <input class='emailInput'type='email' placeholder='Your email'/>
                  </td>

                  <% for(let i = 0; i < columnCount; i++) { %>
                        <td class='choiceRow'>
                          <p class='ids'><%-allDateOptionIds[i]%></p>
                          <button class='btn-choice exer'>choose</button>
                        </td>
                   <% }  %>

                </tr>


              </tbody>
              </table>
                <button id ='vote'>Vote!</button>

            </div>

    <footer> <% include ./_partials/_footer %> </footer>
  </body>
</html>
